.location-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .restaurant-name {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .details-container {
    display: flex;
    flex-direction: row;
  }
  
  .hours-container {
    flex: 1;
  }
  
  .section-title {
    margin-bottom: 10px;
    color: black;
  }
  
  .location-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
  }
  
  .address {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .location-image {
    width: 800px;
    height: auto;
  }
  .hours{
    margin-top: 60px;
  }

  @media screen and (max-width: 920px) {
    .details-container {
      display: flex;
      flex-direction: column;
    }
 .location-image{
  width: 600px;
 }
    }

    @media screen and (max-width: 600px) {
      .details-container {
        display: flex;
        flex-direction: column;
      }
   .location-image{
    width: 350px;
   }
      }
  