.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.center-text {
  text-align: center;
  max-width: 1000px;
}

.lorem-text {
  font-size: 40px;
  color: #ffffff;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.phone{
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.take-out{
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.language {
  font-size: 30px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: white; 
}



.navbar-link {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 30px;
}

.navbar-link:hover {
  background-color: #733f3f;
}

.navbar-link.active {
  background-color: #333;
  color: #fff;
}

.navbar-link.active:hover {
  background-color: #555;
}

.home {
  background-image: url("../../assets/El Charro/background4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 150vh; 
}

.navbar-logo-container {
  width: 200px; 
  height: 200px; 
  border-radius: 50%; 
  overflow: hidden; 
}

.navbar-logo {
  width: 100%; 
  height: 100%; 
  object-fit: cover;  
}

.button-styling {
  display: inline-block;
  padding: 10px 20px;
  background-color: #135d15;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-styling:hover {
  background-color: #4CAF50;
  color: #fff;
}

.button-styling:hover::after {
  background-color: transparent;
}
.button-styling:not(.navbar-link):hover {
  background-color: #4CAF50;
  color: #fff;
}




.button-styling:active {
  background-color: #3c893d;
}


body .lorem-text {
  font-size: 40px;
  color: #ffffff;
  text-align: center !important;
  max-width: 1000px;
}

h1 {
  color: white;
}

.order1 {
  padding: 10px 30px; 
  background-color: #135d15;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: fit-content; 
}
h2 {
  color: white;
}

.video{
  margin-top: 100px;
  width: 1000px;
  height: 500px;
}
.title1 {
  color:white;
  font-family: "Georgia", Arial, sans-serif;
  font-size: 90px;
  font-weight: bold;
  -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.slides {
  margin-top: 200px;
}

@media screen and (max-width: 1024px) {
  .content {
    grid-template-columns: none;
    grid-template-rows: auto;
  }
  .navbar-logo-container {
    width: 70px; 
    height: 70px; 
    border-radius: 50%; 
    overflow: hidden; 
  }
  .video{
    margin-top: 100px;
    width: 500px;
    height: 250px;
  }
  .language{
    font-size: 13px !important; 
  }
  
  .navbar-link {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .content {
    grid-template-columns: none;
    grid-template-rows: auto;
  }
  .navbar-logo-container {
    width: 70px; 
    height: 70px; 
    border-radius: 50%; 
    overflow: hidden; 
  }
  .video{
    margin-top: 100px;
    width: 300px;
    height: 150px;
  }
  .language{
    font-size: 10px !important; 
  }
  
  .navbar-link {
    font-size: 10px;
  }
  .title1{
    font-size: 40px;
  }

}


