.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
  }
  
  .nav-link,
  .nav-button {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .nav-link:hover,
  .nav-button:hover {
    background-color: #733f3f;
  }
  
  .nav-link.active,
  .nav-button.active {
    background-color: #333;
    color: #fff;
  }
  
  .nav-link.active:hover,
  .nav-button.active:hover {
    background-color: #555;
  }
  
  .nav-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  
  .home {
    background-image: url("../../assets/El Charro/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 150vh;
  }
  